@import ../../../Common/_vars

.editForm
  height: 100%
  width: 100%
  display: grid
  grid-template-rows: 5fr 20px
  grid-template-columns: 1fr 1fr
  grid-gap: 5px
  grid-template-areas: 'about contacts''none submit'
  color: white
  padding: 8px
.about
  grid-area: about
.contacts
  grid-area: contacts
  &__block
    display: flex
    flex-flow: wrap
.submit
  grid-area: submit
  height: 30px
  padding: 10px
.item
  width: 250px
  display: flex
  justify-content: space-between
  align-items: center
  flex-wrap: wrap
  padding: 5px
