.editForm
  height: 100%
  width: 100%
  display: grid
  grid-template-rows: 5fr 5fr 20px
  grid-template-columns: 1fr 1fr
  grid-template-areas: 'about about' 'contacts contacts' 'none submit'
  color: white
.about
  grid-area: about
.contacts
  grid-area: contacts
  &__block
    display: flex
    flex-flow: wrap
.submit
  grid-area: submit
  height: 30px
  padding: 10px
.item
  width: 250px
  display: flex
  justify-content: space-between
  align-items: center
