.userBlock
  height: 100px
  width: 100%
  display: flex
  justify-content: flex-start
  align-items: flex-start

.avatarBlock
  width: 20%
  height: 80px
  margin: 10px
.avatar
  width: 50px
  height: 50px
  border-radius: 50%

.infoBlock
  margin: 10px
  width: 80%
  height: 80px
  border-style: solid
  border-width: 2px
  border-color: #004291
  border-radius: 10px
.name
  color: #004291
.status
  color: #424244
.location
  color: darkslateblue
.pageblock
  min-height: 20px
  min-width: 100px
  margin: 5px
  display: flex
  justify-content: center
  align-items: center
.pageIndex
  margin: 3px
  width: 18px
  height: 22px
  border-color: #424244
  border-style: solid
  border-width: 0.5px
  background-color: white
  display: flex
  align-items: center
  justify-content: center
  outline: none
  &__selected
    background-color: coral
    color: black
    font-weight: bold
    font-size: 12px
    margin: 1px
    width: 17px
    height: 22px
    border-color: #424244
    border-style: solid
    border-width: 0.5px
    display: flex
    align-items: center
    justify-content: center
    outline: none
