.statusBlock
  width: 90%
  height: 20px
  color: white
  font-size: 12px

.statusInput
  width: 90%
  height: 40px

.red
  width: 30px
  height: 30px
  background-color: red
.green
  width: 30px
  height: 30px
  background-color: #00cb00