.navbarblock
  width: auto
  height: auto
  border-radius: 1vmax
  background-color: #00b800
  grid-area: navbarblock
.navmenu
  list-style-type: none
  color: white
  font-family: "Times New Roman"
  font-size: 15px
  margin: 5px
  padding: 30px 5px 30px 5px
  a
    color: white
    font-family: Arial
    font-size: 18
    &:visited
      text-decoration: none
.activeLink
  color: red
  background-color: black

